@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@100&family=Oswald:wght@200;400;600&family=Playfair+Display:wght@500&family=Raleway:wght@500&family=Source+Sans+Pro:wght@300;600&family=Titillium+Web:wght@600;700&display=swap');

/* Header */

* {
    font-family: "Indie Flower" /* Replace with your custom font */; 
    /* Add !important to overwrite all elements */
    text-decoration: none;
    padding: 0;
    margin: 0;
  }

.logo {
    color: #055ad9;
    font-size: 60px;
    font-family: Indie Flower;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav.menu a {
    margin: 0 20px;
    color: black;
    font-family: cursive;
}

.banner img {
    width: 100vw;
    max-height: 300px;
    object-fit: cover;
}

/* Full Banner */

.banner {
    position: relative;
}

.banner a {
    position: absolute;
    bottom: 40%;
    background: red;
    z-index: 1111;
    right: 5%;
    padding: 5px;
    color: white;
    border-radius: 10px;
}

.banner-tarja img {
    width: 100vw;
}


/* Card Image */

img.card-img-top {
    width: 100%;
    min-width: 300px;
}

.container-card {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    gap: 20px;
}

h4.card-title {
    text-transform: uppercase;
    font-family: cursive;
    margin: 10px;
}

.card-body .btn {
    background: #ff0000c2;
    padding: 5px;
    color: white;
    top: 50px;
    right: 0;
    position: absolute;
}

.card {
    position: relative;
}



/* FOOTER */

footer span {
    display: none;
}

footer {
    display: flex;
    justify-content: space-around;
    background: #0b5885;
    color: white;
    padding: 30px 0;
}

.divisor {
    width: 100%;
    background: #5d9dc1;
    height: 5px;
    margin-bottom: 5px;
}

footer h2 {
    font-family: cursive!important;
    margin: 0!important;
}

footer h2 {
    border-bottom: 1px solid #1d64df;
    margin-bottom: 10px!important;
}

ul.network-icon {
    list-style: none;
    padding: 0;
}

ul.network-icon svg {
    fill: white;
    max-width: 20px;
    margin: 0 10px;
}

.network-icon li {
    display: contents;
}

footer a {
    color: white;
}


/* LOGIN PAGE */

.container-login {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

div#login-submit button {
    border: none;
    padding: 5px 20px;
    cursor: pointer;
}

.login-box h2 {
    text-transform: uppercase;
    font-family: cursive;
    padding-bottom: 30px;
}

.cadastre-se {
    margin: 10px 0;
}

input#input-email, input#input-password {
    border: none;
    background: #ccc8c88c;
    min-width: 200px;
}


/* Contato */

.form-group {
    display: flex;
    flex-direction: column;
}

/* Cadastro */

.cadastro {
    max-width: 500px;
    margin: 20px;
}

.cadastro button {
    margin-top: 20px;
}

/* Menu */
header button {
    display: none;
}

@media only screen and (max-width: 600px) {

    .logo {
        font-size: 25px;
        order: 2;
    }

    .container-card {
        flex-direction: column;
    }

    footer {
        padding: 30px 20px;
        flex-direction: column;
        gap: 30px;
    }

    footer h2 {
        font-size: 20px;
    }

    footer span {
        display: inline-block;
        margin-left: 20px;
    }

    footer .hide ~ p {
        display: none;
    }

    footer .hide + ul {
        display: none;
    }

    /* menu */

    .hide a{
        display: none;
        order: -1;
    }

    header button {
        display: block;
        order: -1;
        border: none;
        background: none;
        padding-top: 10px;
    }

    header button svg {
        fill: #5d9dc1;
    }

    header {
        justify-content: space-around;
    }

    nav#menu {
        display: grid;
        order: 1;
    }

    nav#menu a {
        font-size: 12px;
        line-height: 1.5;
    }



  }